MYSQL_CONTAINER_NAME=mysql_ai_rec
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_ROOT_USER=root
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=ai_rec_db
MYSQL_USER=ai_user
MYSQL_PASSWORD=ai_pass
DEEPSEEK_API_KEY=
